<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Document</title>
    
</head>
<body>
    <h2>Random Numbers</h2>
    <ul>
        {% for number in random_numbers %}
        <li>{{ number }}</li>
        {% endfor %}
    </ul>
<!--
    <h1>Students</h1>
    {% for student in estudiantes %}
        <p>{{ student['name'] }} - {{ student['age'] }}</p>
    {% endfor %}
-->
    <h2>Students List</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{estudiante['name']}}</td>
                <td>{{estudiante['edad']}}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</body>
</html>